<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name = "STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level][%thread{10}] %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/anna-service/scala-examples.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/tmp/logs/anna-service/archive/scala-examples.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level][%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNCFILE" />
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <!--Log4J Levels: ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL > OFF-->
    <logger name="project.examples" level="ALL" />
    <!-- Will log all of hyperanna sub-loggers-->

</configuration>